.nav-contanier {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
  background: #3c3a39;
}

.logo {
  width: 77px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 35px 24px 12px;
}

.menu-icon {
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 35px 24px 12px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 375px;
  height: 590px;
  left: 0;
  top: 92px;
  background: #1c1a19;
}

h1 {
  width: 327px;
  height: 124px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 24px;
  margin: 120px 0 0 0;
}

.head {
  display: flex;
  width: 327px;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-left: 24px;
  margin: 12px 0;
}

.description {
  width: 327px;
  height: 123px;
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding-left: 24px;
  margin: 0;
}

.link {
  display: inline-flex;
  flex-direction: row;
  padding-left: 35px;
}

.all {
  margin: 0 11px;
}

.illustration {
  position: absolute;
  left: 60.74%;
  right: 31.09%;
  top: 29.3%;
  bottom: -11.63%;
}
